{% extends 'base.html.twig' %}

{% block title %}Dodaj produkt{% endblock %}

{% block body %}
<h1>Dodaj produkt</h1>

<div class="row">
  <div class="col-10"></div>
  <div class="col-2">
    <a href="/" class="btn btn-secondary btn-sm">powrót do listy</a>
  </div>
</div>

<div class="row">
  <div class="col-6">

  {{ form_start(form) }}
  <div class="mb-3">
    {{ form_label(form.name, 'Nazwa produktu') }}
    {{ form_widget(form.name) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.price, 'Cena PLN') }}
    {{ form_widget(form.price) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.price_eur, 'Cena EUR') }}
    {{ form_widget(form.price_eur) }}
  </div>
  <div class="mb-3">
    {{ form_label(form.description, 'Opis') }}
    {{ form_widget(form.description) }}
  </div>
  <button type="submit" class="btn btn-primary">Dodaj</button>
  {{ form_end(form) }}

</div>
</div>


{% endblock %}