{% extends 'base.html.twig' %}

{% block title %}Przeglądanie produktów{% endblock %}

{% block body %}
<h1>Znaleziono {{ products|length }} produkt(ów)</h1>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="row">
  <div class="col-10"></div>
  <div class="col-2">
    <a href="/add" class="btn btn-secondary btn-sm">+ dodaj produkt</a>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
      <th scope="col" style="width:5%;">Cena&nbsp;PLN</th>
      <th scope="col" style="width:5%;">Podatek</th>
      <th scope="col" style="width:5%;">Cena&nbsp;EUR</th>
      <th scope="col">Opis</th>
      <th scope="col">Akcje</th>
    </tr>
  </thead>
  <tbody>
{% for product in products %}
<tr>
  <td>{{ product.id.value }}</td>
  <td>{{ product.name.value }}</td>
  <td style="text-align:right;">{{ product.price.value }}</td>
  <td style="text-align:right;" class="text-nowrap">{{ product.calculateTax(country) }} ({{ country.getTaxValue }}%)</td>
  <td style="text-align:right;">{{ product.price_eur.value }}</td>
  <td>{{ product.description.value|length ? (product.description.value|slice(0,50) ~ '&hellip;')|raw : '-' }}</td>
  <td><a href="/show/{{ product.id.value }}" class="btn btn-primary btn-sm">pokaż</a> <a href="/remove/{{ product.id.value }}" onclick="return confirm('Na pewno usunąć produkt?')" class="btn btn-danger btn-sm">skasuj</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% block content %}{% endblock %}
{% endblock %}


