{% extends 'base.html.twig' %}

{% block title %}Produkt {{ product.name.value }}{% endblock %}

{% block body %}
<h1>Produkt {{ product.name.value }}</h1>
<a href="/" class="btn btn-primary btn-sm">powrót do listy</a>
<table class="table">
  <tbody>
<tr><td>ID:</td><td>{{ product.id.value }}</td></tr>
<tr><td>Nazwa</td><td>{{ product.name.value }}</td></tr>
<tr><td>Cena PLN</td><td>{{ product.price.value }}</td></tr>
<tr><td>Cena EUR</td><td>{{ product.price_eur.value }}</td></tr>
<tr><td>Opis</td><td>{{ product.description.value }}</td></tr>
<tr><td>Akcja</td><td><a href="/remove/{{ product.id.value }}" onclick="return confirm('Na pewno usunąć produkt?')" class="btn btn-danger btn-sm">skasuj</a></td></tr>
</tbody>
</table>
{% endblock %}